//blue
$Primary-Blue-50: #E6F2FF;
$Primary-Blue-500: #007BFF;

//white
$Standart-White: #FFF;

//neutral
$Neutral-Neutral-100: #F7F9FC;
$Neutral-Neutral-200: #F0F2F5;
$Neutral-Neutral-500: #98A2B3;
$Neutral-Neutral-600: #667185;
$Neutral-Neutral-900: #1D2739